@import "_variables";


/*@import '../../node_modules/font-awesome/scss/font-awesome';*/

// @import '../../node_modules/materialize-css/sass/materialize';

/* App imports */

@import "_basic";

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.header {
    background-color: #34495E;

}

.header>div {

    display: inline-block;
    float: left;
    color: #FFFFFF;
    margin-top: 1%;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    flex-wrap: wrap;
    margin-left: 4%;

}

#image {
    width: 4%;
    float: left;
    margin-left: 1%;
    cursor: pointer;
}
.setting{
margin-top: 0% !important;
float: right !important;
margin-right: 1%;

}
.setting > img {
	color:#FFFFFF;
    width: 80%;
    cursor: pointer;
    margin-top: 15%;
}